@tailwind base;
@tailwind components;
@tailwind utilities;

.review-item {
    width: 100%;
    max-width: 570px;
    height: 107px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
    padding: 8px;
}
